
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: "Quicksand", serif;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px ;
  background-color: #FFFFFF;
  color: white;
}
.logo{
  font-size: 1.00rem;
  font-weight: bold;
}
.nav-link{
  display: flex;
  list-style: none;
  gap: 32px;
}
.nav-link li a {
  text-decoration: none;
  color:#0c0b07 ;
  font-size: 1rem;
  transition: color 0.4s ease;
}
.item{
  color: #FEA301;
}
.contact-btn{
  background-color: #FEA301;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

}
.contact-btn:hover {
  background-color: #e7cf8e;
  
}
.menu-bar{
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color:#f0f8ff ;
}
.banner-content{
  max-width: 50%;
}
.banner-content h1 {
  font-size: 3rem;
  color: #01ACFD;
}
.banner-content p{
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
}
.enroll-btn{
  background-color: black ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.banner-image img{
width: 100%;
max-width: 400px;
border-radius: 10px;
}
.curriculum{
  padding: 60px 20px;
  text-align: center;
  color: rgb(3, 1, 1);
}
.title{
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: #3200a8;
}

.cards-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card img{
  width: %;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card .read-more{
  text-decoration: none;
  color: #ffd700;
  font-weight: bold;
  
}
.card-1{
  background: linear-gradient(#DEF5FF, #FFFFFF );
}
.card-2{
  background: linear-gradient(#FFF4DC, #FFFFFF);
}
.card-3{
  background: linear-gradient(#EEE1FF, #FFFFFF );
}
.arrow-button{
  margin-top: 50px;
}
.arrow-btn{
  background-color: #ffd700;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
}

/* footer */

.site-footer{
  background-color: #5c37b1;
  color: white;
  padding: 30px 20px;
  text-align: left;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-column-about{
  float: 1;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.logo img{
  width: 50px;
  height: 50px;

}
.site-name{
  font-size: 1.5rem;
  line-height: 1.5;
  
}
/* navbar responsive medium */
@media screen (max-width: 768px) {
  .nav-link,
.contact-btn {
  display: grid;
  grid-template-columns: column ( 2, 1fr);
}
.menu-bar{
  display: ;
}
.banner {
  flex-direction: column;
  text-align: center; 
}
.banner-content {
  max-width: 100%;
}
.banner-image {
  order: -1;
}
.banner-image img {
  max-width: 100%;
}
.cards-container {
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
}
}